<div class="item-list-container">
    <div class="row">
        <div class="col-9">
            <h1>Productos Comprados</h1>
        </div>        
    </div>
    <div class="cart-list">
        {{#each cart.products}}
        <div class="container text-center">
            <div class="row">
                <div class="col">
                    <img src="{{this._id.thumbnail}}" class="img-fluid float-start rounded-start img-product" alt={{this._id.title}} />
                </div>
                <div class="col-6">
                    <h5 class="card-title">{{this._id.title}}</h5>
                    <p class="card-text">Cantidad: {{this.quantity}}</p>
                    <p class="card-text">Precio por Unidad = $ {{this._id.price}}</p>
                </div>                
            </div>
        </div>
        {{/each}}
        <p>Ud. compró un total de {{cart.products.length}} artículo/s.</p>
    </div>
</div>